<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Order Update</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Order Update</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/orders/update/' + ${order.getId()}}" th:object="${order}"
                          method="post">
                        <div class="form-group">
                            <label for="customer">Customer</label>
                            <input type="text" class="form-control" id="customer" aria-describedby="customer"
                                   placeholder="Enter customer" th:field="*{customer}">
                        </div>
                        <div class="form-group">
                            <label for="delivered">Delivered status</label>
                            <select class="form-control" id="delivered" th:field="*{delivered}">
                                <option th:each="type : ${types}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
