<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Order Details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Order Details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <td th:text="${order.getId()}"></td>
                        </tr>
                        <tr>
                            <th>Customer</th>
                            <td th:text="${order.getCustomer()}"></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td th:text="${order.isDelivered()}"></td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td th:text="${#calendars.format(order.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td th:text="${#calendars.format(order.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>InStock</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product,iter : ${products}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${product.getName()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                            <td th:text="${product.isInStock()}"></td>
                            <td>
                                <a th:href="@{'/products/delete/order/' + ${product.getId()} + '/' + ${order.getId()}}"
                                   type="button" class="btn btn-danger">delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div>
                        <a th:href="@{'/products/add/' + ${order.getId()}}" type="button" class="btn btn-primary">Add
                            product</a>
                    </div>
                    <!--                    <hr>-->
                    <!--                    <div>-->
                    <!--                        <a th:href="@{'/employees/departments/' + ${department.getId()}}" type="button" class="btn btn-primary">Show all employee</a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
