<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Accounts</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="account,iter : ${pageData.getItems()}">
        <td th:text="${account.getId()}"></td>
        <td th:text="${account.getUser()}"></td>
        <td th:text="${account.getBalance()}"></td>
        <td th:text="${#calendars.format(account.getCreated(),'dd/MM/yyyy HH:mm')}"></td>
    </tr>

</div>

</body>
</html>
