<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Products</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="product,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.isInStock()}"></td>
        <!--                            <td>-->
        <!--                                <a th:href="@{'/departments/details/' + ${employee.getDepartment().getId()}}" type="button" class="btn btn-link" th:text="${employee.getDepartment().getId()}">details</a>-->
        <!--                            </td>-->
        <!--                            <td th:text="${#calendars.format(employee.getCreated(),'dd MMMM yyyy')}"></td>-->
        <td>
            <a th:href="@{'/products/details/' + ${product.getId()}}" type="button"
               class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/products/update/' + ${product.getId()}}" type="button"
               class="btn btn-primary">edit</a>
        </td>
        <td>
            <a th:href="@{'/products/delete/' + ${product.getId()}}" type="button"
               class="btn btn-danger">delete</a>
        </td>
    </tr>


</div>

</body>
</html>
