<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">

            <nav class="navbar navbar-expand-sm navbar-light bg-primary border-bottom">
                <a class="navbar-brand ml-2 font-weight-bold" style="color: white;">
                    <img src="/images/nix-logo.png" width="80" height="40">
                    <a style="color: white; font-weight: bold; font-size: 27px;">COMPUTERS</a>
                </a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarColor">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" style="color: white;" th:href="@{/login}">LOGIN</a> </li>
                        <li class="nav-item"><a class="nav-link" style="color: white;" th:href="@{/registration}">REGISTRATION</a> </li>
                    </ul>
                </div>
            </nav>

        <section layout:fragment="open_content"></section>

    </div>
</body>
</html>