<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{open_layout}">
<head>
    <meta charset="utf-8">
    <title>Products</title>
</head>
<body>

<div layout:fragment="open_content">

    <section id="data-table">

    <div class="col-12">
        <div class="d-flex justify-content-end align-items-center">
            <div class="p-1">Showing [[${pageData.getCurrentShowFromEntries()}]] to [[${pageData.getCurrentShowToEntries()}]] of [[${pageData.getItemsSize()}]] entries</div>
            <div class="p-1">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${pageData.getPageSize()}"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <section th:each="size : ${pageData.getPageSizeItems()}">
                            <a class="dropdown-item" href="#" th:onclick="|runPagination(1, ${size}, 0)|" th:text="${size}">@size</a>
                        </section>
                    </div>
                </div>
            </div>
            <div class="p-1" >
                <ul class="pagination align-middle">
                    <li class="page-item" th:classappend="${pageData.isShowFirst() ? '' : 'disabled'}">
                        <a class="page-link" href="#" th:onclick="|runPagination(1, ${pageData.getPageSize()}, 0)|" title="First Page"><i class="fa fa-fast-backward"></i></a>
                    </li>
                    <li class="page-item" th:classappend="${pageData.isShowPrevious() ? '' : 'disabled'}">
                        <a class="page-link" href="#" th:onclick="|runPagination(${pageData.getCurrentPage()}, ${pageData.getPageSize()}, -1)|" title="Previous Page"><i class="fa fa-backward"></i></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="" th:text="${pageData.getCurrentPage()}">@Model.currentPage</a>
                    </li>
                    <li class="page-item" th:classappend="${pageData.isShowNext() ? '' : 'disabled'}">
                        <a class="page-link" href="#" th:onclick="|runPagination(${pageData.getCurrentPage()}, ${pageData.getPageSize()}, 1)|" title="Next Page"><i class="fa fa-forward"></i></a>
                    </li>
                    <li class="page-item" th:classappend="${pageData.isShowLast() ? '' : 'disabled'}">
                        <a class="page-link" href="#" th:onclick="|runPagination(${pageData.getTotalPageSize()}, ${pageData.getPageSize()}, 0)|" title="Last Page"><i class="fa fa-fast-forward"></i></a>
                    </li>
                </ul>
            </div>
            <div class="p-1">
                <a class="page-link btn btn-secondary" href="#" th:onclick="|runPagination(${pageData.getCurrentPage()}, ${pageData.getPageSize()}, 0)|" title="Refresh Page"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="p-1">
                <a class="page-link btn btn-secondary" href="#" onclick="runPagination(1, 10, 0)" title="Reset Page"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

    <form method="POST" th:action="@{${createUrl}}" id="personalSearch">
        <input type="submit"
               id="personalSearchSubmit"
               style="visibility: hidden"
        />
    </form>

    <span th:data-sort="${pageData.getSort()}"
          th:data-order="${pageData.getOrder()}"
          th:data-page="${pageData.getCurrentPage()}"
          th:data-size="${pageData.getPageSize()}"
          id="pageData">
        </span>

</section>

<section id="sidebar">
    <div>
        <h6 class="ml-md-2">Brand</h6>
        <form class="ml-md-2">
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="checkbox" name="type" id="apple"> <label for="apple" class="pl-1 pt-sm-0 pt-1">Apple</label> </div>
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="checkbox" name="type" id="acer"> <label for="acer" class="pl-1 pt-sm-0 pt-1">Acer</label> </div>
            <div class="form-inline border rounded p-md-2 p-sm-1"> <input type="checkbox" name="type" id="lenovo"> <label for="lenovo" class="pl-1 pt-sm-0 pt-1">Lenovo</label> </div>
            <div class="form-inline border rounded p-sm-2 my-2"> <input type="checkbox" name="type" id="hp"> <label for="hp" class="pl-1 pt-sm-0 pt-1">HP</label> </div>
        </form>
    </div>
</section>

<section id="products">
    <div class="container">
        <div class="row">
            <tr th:each="product,iter : ${pageData.getItems()}">
                <div class="column" >
                    <a th:href="@{'/products/details/' + ${product.getId()}}">
                        <div class="card"> <img class="card-img-top" th:src="${product.getImage()}" alt="Card image cap">
                            <div class="card-body">
                                <p th:text="${product.getName()}"></p>
                                <p th:text="'$' + ${product.getPrice()}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </tr>
        </div>
    </div>
</section>


</div>

</body>
</html>
