<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Users</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="user,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getPhone()}"></td>
        <td>
            <a th:href="@{'/users/details/' + ${user.getId()}}" type="button"
               class="btn btn-primary btn-sm">Log in</a>
        </td>
    </tr>

</div>

</body>
</html>
